/* Application wide styles */

/*  layout  */
.header {
    -fx-background-color: green;
}

.level-editor {
    /*  background  */
    -fx-background-image: url("/images/background900x900_loopable.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 900;
    -fx-background-position: left center;

    /*  dummy  */
}

.item-box .image-view {
    /*  Styling of the single elements  */
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 2px;

    /*  Give the elements "button-behaviour"  */
    -fx-cursor: hand;
}

.item-box .image-view:hover {
    -fx-opacity: 0.6;
    -fx-background-color: #7bba9f;
}

.map-editor .image-view {
    /*  Styling of the single elements  */
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 2px;

    /*  Give the elements "button-behaviour"  */
    -fx-cursor: hand;
}

.map-editor .image-view:hover {
    -fx-background-color: #ffffff60;
}

.export-button {
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-background-color: #7bba9f;
    -fx-graphic-text-gap: 30px;
}

.export-button:hover {
    -fx-background-color: #537e6c;
}